<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Basic Job Application</title>
</head>
<body>
    <!-- Navigation bar, at top-->
    <header>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        <nav class="navbar navbar-expand-md light fixed-top bg-light">
            <a clas="navbar-brand" href="#">Zootopia</a>
            <button class="navbar-toggler" type="button" data-toggle="collaspe" data-target="#navbarSupportedCotent" aria-controls="navbarSupportedConted a</button>
        </nav>
    </header>
    <h1>Zoo Internship</h1>
    <div class="container marketing">
        <div class="row">
            <h2>Mission</h2>
            <div class="column">
                <p>Hello</p>
            </div>
        </div>
        <div class="row">
            <h2>About Us</h2>
            <div class="column">
                <p>Hello</p>
            </div>
        </div>
        <div class="row">
            <h2>Meet Our Team</h2>
            <div class="column">
                <p>Hello</p>
                <br>
                <button>Apply Now</button>
            </div>

        </div>
    </div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>



