<include href="views/header.html"></include>

<!-- basic info abot user-->
<form action="#" method="post" class="form-horizontal needs-validation">
    <div class="row featurette bg-light">
    <h2 class="d-flex text-secondary">Personal Information</h2>
    <hr class="featurette-divider">
       <!-- basic info section -->
        <div class="col-8">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <!-- first name input -->
                    <label for="fname" >First Name:</label>
                    <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name"  >
                </div>
                <div class="col-md-6 mb-3">
                    <!-- last name input -->
                    <label for="lname">Last Name:</label>
                    <input type="text"  name="lname" class="form-control" id="lname" placeholder="Last Name"  >
                </div>
                <!-- email input row-->
                <div class="col-md-12 mb-3">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" required>
                </div>
            </div>
        </div>

        <!-- note row-->
        <div id="form-right-col1" class="col-lg d-flex flex-column justify-content-between">
            <div id="note" class="alert alert-secondary h-100 d-flex justify-content-center align-items-center">
                <div>
                    <b>Note:</b> All information entered is protected by our <a class="alert-link" href="#">privacy
                    policy.</a> Profile information can only be viewed by others with your permission.
                </div>
            </div>
        </div>

        <!-- state input -->
        <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select id="state"  name=state" class="form-control">
            <option value="Washington">Washington</option>
            </select>
        </div>
        <!-- phone input-->
        <div class="col-md-4 mb-3">
            <label for="phone">Phone:</label>
            <input type="text" name="phone" class="form-control" id="phone" placeholder="123-456-7890" >
        </div>
        <!-- button section -->
        <div class="col-md-4 mb-3">
            <button class="btn btn-outline-success my-2 my-md-4 w-100 text" type="submit">Next</button>
        </div>
    </div> <!-- end of div-->
</form>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>



