html,body{
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
}
h2{
    text-align: center;
}
p{
    margin:auto;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom: 20px;
}
textarea{
    resize: none;
    border-radius: 10px;
    height: 200px;
    width: 100%;
}
